.main-container {
    display: flex;
    flex-direction: column;
    
    height: 90vh;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.section-customization {
    gap: 0.5rem;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.character-canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media (max-width: 1250px) {
    .section-customization {
        flex-direction: column;
    }

    .section-customization .character-canvas {
        order: -1;
    }
}